body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.chart {
    width: 45%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.interpretation {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.tab-content {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

button {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #495057;
}